<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <ThresholdFilter level="info" onMatch="ACCEPT" onMisMatch="DENY"/>
        </Console>
        <File name="file" fileName="opsReader.log" append="false">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} {%t} %-tlevel %logger{36} %p %m%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="file"/>
        </Root>
    </Loggers>
</Configuration>